{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Find a job and work remotely! </h3>
                    <p class="text-light">You can have your dream job and at the same time live wherever you want. &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">  
    <div class="row mb-5 mt-3">  
        <div class="col-lg-8 mx-auto">  
        <form action="/" method="get">
        <div class="input-group mb-4">
            <input type="search" placeholder="Search for jobs, programming languages and keywords..." aria-describedby="button-addon5" class="form-control" name="search">  
            <div class="input-group-append">  
            <button id="button-addon5" type="submit" class="btn btn-primary"> SEARCH </button>
        </div>
        </form>
        </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 left">
            {% for post in object_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <a href="" class="btn btn-primary float-right" target="_blank">Learn More &rarr;</a>
                    <p class="card-text text-muted h6">Company: <b>{{ post.company }}</b></p>
                    <p class="card-text"><small class="text-muted">Updated at: <b>{{ post.created_at|date:'Y-m-d' }}</b></small></p>
                    <!--<p class="card-text">{{post.description|slice:":200"|safe }}</p>-->
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}